<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title> SeSPHR - Health Record Management System</title>
  <link rel="shortcut icon" type="image/png" href="./assets/favicon.png">
  <meta name="description" content="SeSPHR Hospital record management system.">
  <meta name="keywords" content="Hosptial record security">

  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway|Candal">
  <link rel="stylesheet" type="text/css" href="./static/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="./static/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="./static/css/style.css">
 
  

<style>
  .details{
    background-color: white;
    margin-top: 20px;
  }
  body
  {
    background-color:#325C6A ;
  }
  
</style>
</head>

<body id="myPage"  >
<img src="./static/img/logo2.png" class="img-responsive"style="margin-top: 20px;width: 140px;">


  <div class="container">
        <div class="row">
          
            <br>
            <div class="banner-text text-center">
              <h1 class="white">Welcome Dr. {Doctor_name}</h1>
              
                
                <label for="name"><b>Name</b></label>
                <input type="text" placeholder="Enter Name" name="name" required style="margin-left: 85px;color: black;">
                  
                </div>
              </div>
              
              
            </div>
          </div>
        </div>
      </div>
  
  <!--/ contact-->
  <!--footer-->
  <footer id="footer" style="margin-bottom: 50px;">
    <div class="footer-line" style="margin-bottom: 20px;">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center" style="margin-bottom:10px;">
            © Copyright SeSPHR. All Rights Reserved
            <div class="credits">
              <p >Made with <a style="color: red;">❤ </a>by SeSPHR TEAM</p>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!--/ footer-->

  <script src="./static/js/jquery.min.js"></script>
  <script src="./static/js/jquery.easing.min.js"></script>
  <script src="./static/js/bootstrap.min.js"></script>
  <script src="./static/js/custom.js"></script>
  <script src="./static/contactform/contactform.js"></script>
  
  
<script>
// Get the modal
var modal = document.getElementById('id01');
var modal2 = document.getElementById('id02');

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal || event.target == modal2 ) {
        modal.style.display = "none";
    }
}
</script>
</body>
</html>
