<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Sesphr-Hospital Lab Dashboard </title>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css'>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <link rel="stylesheet" href="./static/css/style_dashboard.css">

</head>
<body>
<!-- partial:index.partial.html -->
<head>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>

  <ul id="slide-out" class="side-nav fixed z-depth-2">
    <li class="center no-padding">
      <div class="blue darken-2 white-text" style="height: 180px;">
        <div class="row">
          <img style="margin-top: 5%;" width="100" height="100" src="https://res.cloudinary.com/dacg0wegv/image/upload/t_media_lib_thumb/v1463990208/photo_dkkrxc.png" class="circle responsive-img" />

          <p style="margin-top: -13%;">
          {{user_name}} 
          </p>
        </div>
      </div>
    </li>

    <li id="dash_dashboard"><a class="waves-effect" href="#!"><b>Dashboard</b></a></li>
    </ul>
  </ul>

  <header>
    
    <ul class="dropdown-content" id="user_dropdown">
     <!---- <li><a class="blue-text" href="#!">Profile</a></li>-->
      <li><a class="blue-text" href="{{url_for('index')}}">Logout</a></li>
    </ul>

    <nav class="blue" role="navigation">

      <div class="nav-wrapper">
        <a class="navbar-brand" href="#"><img src="./static/img/logo2.png" class="img-responsive" style="width: 140px; margin-top: -16px;"></a>
        <a data-activates="slide-out" class="button-collapse show-on-" href="#!"><img style="margin-top: -50px; margin-left: 5px;" src="https://res.cloudinary.com/dacg0wegv/image/upload/t_media_lib_thumb/v1463989873/smaller-main-logo_3_bm40iv.gif" /></a>

        <ul class="right hide-on-med-and-down">
          <li>
            <a class='right dropdown-button' href='' data-activates='user_dropdown'><i class=' material-icons'>account_circle</i></a>
          </li>
        </ul>

        <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
      </div>
    </nav>

    
  </header>

<div>
  <p class="flow-text" style="text-align: center;">{{hname}} - LAB</p>
  {%if failure is defined%}
   <h5 style="text-align: center;">Access Denied</h5>
   <h5 style="text-align: center;">Try Again</h5>
   {%endif%}
  {%if lab is defined %}
  <form  method=post action="{{url_for('data_lab')}}" enctype=multipart/form-data style="margin-top:100px;margin-left:200px;">
    <div class="container">
      
      <label for="pid"><b>Patient ID </b></label>
      <input type="text" placeholder="Enter Patient ID" name="pid" required style="margin-left: 85px;">
      <br>
      <label for="passcode"><b>Passcode  </b></label>
      <input type="text" placeholder="Enter Passcode" name="pcode" required style="margin-left: 90px;" >
      <br>
      <br><br>

     <button class="blue btn waves-effect waves-light" type="submit" name="action">SUBMIT DATA
    <i class="material-icons right">send</i>
    </button>
    </div>
  </form>
  {%endif%}
  <br>

  {%if sucess is defined%}
   <h5 style="text-align: center;">Data Entered </h5>
   {%endif%}


  {% if access is defined%}
  <h5 style="text-align: center;">Access Granted </h5>

  <div class="container" style="margin-top: 70px; align-items: center;">
     
     <button class="blue btn waves-effect waves-light" type="submit" name="action" onclick="window.location.href='{{url_for('add_data_lab')}}';"style="margin-left: 200px;"> ADD DATA
    <i class="material-icons right">send</i>
    </button>
  </div>
  {% endif %}


{% if add is defined %}
    <form  method=post action="{{url_for('insert_data_lab')}}" enctype=multipart/form-data style="margin-top:100px;margin-left:200px;">
    <div class="container">


       <!-- Dropdown Trigger -->
      
      <label for="diag"><b>Test Type </b></label>
  
      <select name="diag" id="diag" style="margin-left: 185px;">
      <option value="Amniocentesis">Amniocentesis</option>
      <option value="Blood count">Blood count</option>
      <option value="Blood typing">Blood typing</option>
      <option value="Cephalin-cholesterol flocculation">Cephalin-cholesterol flocculation</option>
      <option value="Enzyme analysis">Enzyme analysis</option>
      <option value="epinephrine tolerance test">epinephrine tolerance test</option>
      <option value="glucose tolerance test">glucose tolerance test</option>
      <option value="hematocrit">hematocrit</option>
      <option value="immunologic blood test">immunologic blood test</option>
      <option value="inulin clearance">inulin clearance</option>
      <option value="serological test">serological test</option>
      <option value="thymol turbidity">thymol turbidity</option>
      <option value="syphilis test">syphilis test</option>
      <option value="thyroid function test">thyroid function test</option>
      <option value="urinalysis/uroscopy">urinalysis/uroscopy</option>

    </select>
      <br>
      <label for="pres"><b>Result </b></label>
      <input type="text" placeholder="Enter result" name="pres" required style="margin-left:0px;" >
      <br>
      <br><br>

     <button class="blue btn waves-effect waves-light" type="submit" name="action">SUBMIT DATA
    <i class="material-icons right">send</i>
    </button>
    </div>
  </form>

{%endif%}


  <footer class="page-footer blue"style="position:  fixed;left: 0;bottom: 0;width: 100%;">
          <div class="footer-copyright" style="text-align: center;">
           © Copyright SeSPHR. All Rights Reserved &nbsp; Made with <a style="color: red;">❤ </a>by SeSPHR TEAM
          </div>
</footer>
            
</body>

</html>
<!-- partial -->
<script >
$(document).ready(function(){

 $('.dropdown-trigger').dropdown();

});
</script>
  <script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js'></script>
<script  src="./static/js/script_dashboard.js"></script>

</body>
</html>
