<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Sesphr-Patient Dashboard </title>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css'>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link rel="stylesheet" href="./static/css/style_dashboard.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>

  <ul id="slide-out" class="side-nav fixed z-depth-2">
    <li class="center no-padding">
      <div class="blue darken-2 white-text" style="height: 180px;">
        <div class="row">
          <img style="margin-top: 5%;" width="100" height="100" src="https://res.cloudinary.com/dacg0wegv/image/upload/t_media_lib_thumb/v1463990208/photo_dkkrxc.png" class="circle responsive-img" />

          <p style="margin-top: -13%;">
          {{user_name}} 

        </div>

      </div>
    </li>

    <li id="dash_dashboard"><a class="waves-effect" href="#!"><b>Dashboard</b></a></li>
     <!-- Switch -->
  
    <a class="waves-effect waves-light btn-large blue"  onclick="window.location.href='{{url_for('pin')}}';">PIN GENERATE </a>


  <p class="flow-text" style="text-align: center;">{{pin}}</p> 
  <a class="waves-effect waves-light btn-large blue"  onclick="window.location.href='{{url_for('allow')}}';">ALLOW ACCESS </a>
  <p class="flow-text" style="text-align: center;">{{access}}</p>
  <a class="waves-effect waves-light btn-large blue"  onclick="window.location.href='{{url_for('deny')}}';"> BLOCK ACCESS</a>
  <p class="flow-text" style="text-align: center;">{{deny}}</p>
    </ul>
  </ul>

  <header>
    
    <ul class="dropdown-content" id="user_dropdown">
     <!---- <li><a class="blue-text" href="#!">Profile</a></li>-->
      <li><a class="blue-text" href="{{url_for('logout_patient')}}">Logout</a></li>
    </ul>

    <nav class="blue" role="navigation">

      <div class="nav-wrapper">
        <a class="navbar-brand" href="#"><img src="./static/img/logo2.png" class="img-responsive" style="width: 140px; margin-top: -16px;"></a>
        <a data-activates="slide-out" class="button-collapse show-on-" href="#!"><img style="margin-top: -50px; margin-left: 5px;" src="https://res.cloudinary.com/dacg0wegv/image/upload/t_media_lib_thumb/v1463989873/smaller-main-logo_3_bm40iv.gif" /></a>

        <ul class="right hide-on-med-and-down">
          <li>
            <a class='right dropdown-button' href='' data-activates='user_dropdown'><i class=' material-icons'>account_circle</i></a>
          </li>
        </ul>

        <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
      </div>
    </nav>

    
  </header>
   <p class="flow-text" style="text-align: center;">Medical Records</p>
   <p class="flow-text" style="text-align: center;">USER ID : {{uid}}</p>


{%if output_data is defined%}
<div class ="container">
  <table class="striped" style="margin-top: 100px; margin-left: 80px;">
    <thead>
    <tr>
        <th>Date</th>
        <th>Diagnosis</th>
        <th>Doctor id</th>
        <th>Prescription</th>
        <th>Test type</th>
        <th>Result</th>
    </tr>
    </thead>
    <tbody>
        {% for row in output_data %}
            <tr>
                <td>{{row[0]}}</td>
                <td>{{row[1]}}</td>
                <td>{{row[2]}}</td>
                <td>{{row[3]}}</td>
                <td>{{row[4]}}</td>
                <td>{{row[5]}}</td>
            </tr>
        {% endfor %}      
    </tbody>
  </table>
</div>
{%endif%}
<br><br><br><br><br><br><br><br><br><br><br>
<div>  
</div>
   <footer class="page-footer blue"style="position:  fixed;left: 0;bottom: 0;width: 100%;">
          <div class="footer-copyright" style="text-align: center;">
           © Copyright SeSPHR. All Rights Reserved &nbsp; Made with <a style="color: red;">❤ </a>by SeSPHR TEAM
          </div>
  </footer>


<!-- partial -->
  <script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js'></script>
<script  src="./static/js/script_dashboard.js"></script>


<script >
</script>


</body>
</html>
